div {
}

#filler {
  height: 100px;
}

#healthbar {
  height: 60px;

}



.question {
  height: 260px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#question1 {
}

#question2 {
  display: none;
}

#question3 {
  display: none;
}

#question4 {
  display: none;
}

#question5 {
  display: none;
}

#timeline {
  height: 150px;
}

.container {
  background: url('../img/Q1.jpg');
  height: 750px;
  width:1334px;
}

/*.container2 {
  display: none;
  background-image: url('../img/Q1.jpg');
}

.container3 {
  display: none;
  background-image: url('../img/Q2.jpg');
}

.container4 {
  display: none;
  background-image: url('../img/Q3.jpg');
}

.container5 {
  display: none;
  background-image: url('../img/Q4.jpg');
}

.container6 {
  display: none;
  background-image: url('../img/Q5.jpg');
}*/

#fact1 {
  display: none;
  background: url('../img/F1.jpg');
  height: 750px;
  width: 1334px;
}



#fact2 {
  display: none;
  background-image: url('../img/F2.jpg');
  height: 750px;
  width: 1334px;
}

#fact3 {
  display: none;
  background-image: url('../img/F3.jpg');
  height: 750px;
  width: 1334px;
}


#fact4 {
  display: none;
  background-image: url('../img/F4.jpg');
  height: 750px;
  width: 1334px;
}

#fact5 {
  display: none;
  background-image: url('../img/F5.jpg');
  height: 750px;
  width: 1334px;
}
.containerWin {
  display: none;
  background-image: url('../img/winner.gif');
  height: 750px;
  width: 1334px;
}




